@model AlertMns.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid bg-lightblue main-container">
    <div class="main-header bg-lightblue">
        <a class="button-burger">
            <img src="~/img/burger-menu-w.svg" class="img-burger" alt="Image menu" />
        </a>
        <h1>Enregistrer un utilisateur</h1>
        <a>
            <img src="~/img/notifications-white.svg" class="img-notifications" alt="Image des notifications" />
        </a>
    </div>
    <div class="container-main-content">
        <div class="container-centered">
            <div class="row">
                <div class="col text-light">
                    <p>Veuillez renseigner les données de l'utilisateur</p>
                    <form asp-action="Create" id="form-registration">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3 w-50 form-group">
                            <label asp-for="LastName" class="control-label">Nom</label>
                            <input asp-for="LastName" class="form-control input-registration" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 w-50 form-group">
                            <label asp-for="FirstName" class="control-label">Prénom</label>
                            <input asp-for="FirstName" class="form-control input-registration" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 w-50 form-group">
                            <label asp-for="Email" class="control-label">E-mail</label>
                            <input asp-for="Email" type="email" class="form-control input-registration" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Mot de passe</label>
                            <input asp-for="Password" type="password" class="form-control input-registration" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 w-50 form-group">
                            <label asp-for="CompanyId">Organisation</label><br />
                            <select asp-for="CompanyId" class="form-control input-registration" >
                                <option value="">--Choisir une organisation--</option>
                                @foreach (var item in Model.Companies)
                                {
                                    <option value="@item.CompanyId">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                        <div class="mb-3 w-50 form-group">
                            <label asp-for="PositionId">Fonction</label><br />
                            <select asp-for="PositionId" class="form-control input-registration">
                                <option value="">--Choisir une fonction--</option>
                                @foreach (var item in Model.Positions)
                                {
                                    <option value="@item.PositionId">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="PositionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Create" class="btn btn-primary">Enregistrer</button>
                        </div>
                        @* <div>
                            <button type="submit" class="btn btn-secondary">Annuler</button>
                        </div> *@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

