@model AlertMns.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid bg-lightblue main-container">
    <div class="main-header bg-lightblue">
        <a class="button-burger">
            <img src="~/img/burger-menu-w.svg" class="img-burger" alt="Image menu" />
        </a>
        <h1>Enregistrer un utilisateur</h1>
        <a>
            <img src="~/img/notifications-white.svg" class="img-notifications" alt="Image des notifications" />
        </a>
    </div>
    <div class="container-registration">
        <div class="container-centered">
            @* <div class="row d-flex justify-content-center">
                <p>Veuillez renseigner les données de l'utilisateur</p>
            </div> *@
            <div class="row">
                <div class="col text-light">
                    <p>Veuillez renseigner les données de l'utilisateur</p>
                    <form asp-action="Create" id="form-registration">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3 w-50 form-group">
                            <label asp-for="LastName" class="control-label">Nom</label>
                            <input asp-for="LastName" class="form-control input-registration" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 w-50 form-group">
                            <label asp-for="FirstName" class="control-label">Prénom</label>
                            <input asp-for="FirstName" class="form-control input-registration" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 w-50 form-group">
                            <label asp-for="Email" class="control-label">E-mail</label>
                            <input asp-for="Email" class="form-control input-registration" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Mot de passe</label>
                            <input asp-for="Password" class="form-control input-registration" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        @* <div class="mb-3 w-50 form-group">
                            <label for="organization-select">Organisation</label><br />
                            <select name="organization-select" id="organization">
                                <option value="">--Choisir une organisation--</option>
                                <option value="IFA">IFA</option>
                                <option value="MNS">Metz Numeric School</option>
                            </select>
                        </div>
                        <div class="mb-3 w-50 form-group">
                            <label for="role-select">Rôle</label><br />
                            <select name="role-select" id="role">
                                <option value="">--Choisir un rôle--</option>
                                <option value="responsable-rh">Responsable RH</option>
                                <option value="assistant-rh">Assistant RH</option>
                                <option value="responsable-formation">Responsable formation</option>
                                <option value="formateur">Formateur</option>
                                <option value="assistant-administratif">Assistant administratif</option>
                            </select>
                        </div> *@
                        <div class="form-group">
                            <button type="submit" value="Create" class="btn btn-primary">Enregistrer</button>
                        </div>
                        @* <div>
                            <button type="submit" class="btn btn-secondary">Annuler</button>
                        </div> *@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

