@model AlertMns.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Gestion utilisateurs";
}

<div class="container-fluid bg-lightblue main-container">
    <div class="main-header bg-lightblue">
        <a class="button-burger">
            <img src="~/img/burger-menu-w.svg" class="img-burger" alt="Image menu" />
        </a>
        <h1>Gestion des utilisateurs</h1>
        <a>
            <img src="~/img/notifications-white.svg" class="img-notifications" alt="Image des notifications" />
        </a>
    </div>
    <div class="container-main-content">
        <div class="container-centered">
            <div class="row">
                <div class="col text-light">
                    <h2>Créer un compte utilisateur</h2>
                    <p>Accéder à la page de création d'un utilisateur en cliquant sur le bouton ci-dessous.</p>
                    <a asp-controller="Users" asp-action="Create" class="btn btn-primary btn-orange">Nouvel utilisateur</a>
                    <h2>Modifier / supprimer un utilisateur.</h2>
                    <p>Rechercher un utilisateur ci-dessous pour afficher ses données et les modifier ou supprimer l’utilisateur.</p>
                    <div class="search-container">
                        <input type="text" class="search-input" placeholder="Rechercher un utilisateur...">
                        <button type="submit" class="search-button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

