@{
    ViewData["Title"] = "Login";
}

<div id="connexion-container" class="container-fluid full-centered bg-gradientblue">
    <div class="row">
        <div class="col text-light">
            <img id="logo-alertmns" src="~/img/AlertMNS-logo.svg" alt="Logo AlertMNS" class="img-fluid">
            <p id="welcome-text">Bonjour, merci de vous identifier</p>
            <form id="form-connection" action="/votre-action-de-validation" method="POST">
                <div class="mb-3 w-50">
                    <label for="email">Identifiant (e-mail)*</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3 w-50">
                    <label for="password">Mot de passe*</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Connexion</button>
                </div>
                <div>
                    <a class="home-password-link" href="main2.html">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
    </div>
</div>
